
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

h1 {
    font-family: 'Karla';
    font-size: 40px;
    margin: 5vh;
    display: flex;
    justify-content: center;
}

body {
    background-color: #ffeaf1;
}

rect {
    fill: #ffeaf1;
   
}

text {
    font-family: 'Karla';
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
}

p {
    font-family: 'Karla';
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-family: 'Karla';
    color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    animation: roll 3s infinite;
    transform: rotate(30deg);

}

@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .video {
    margin: 0;
    padding: 0;
    height: 100vh;
}
  }