
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

h1 {
    font-family: 'Karla';
    font-size: 40px;
    margin: 5vh;
}

body {
    background-color: #ffeaf1;
}

rect {
    fill: #ffeaf1;
    width: 100% !important;
    height: auto !important;
   
}

text {
    font-family: 'Karla';
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chart_div {
    
}

#donutchart {
    
}